<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lin.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.lin.entity.bo.Menu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <select id="queryList" resultType="org.lin.entity.bo.Menu" parameterType="org.lin.entity.req.MenuQuery">
        select m.* from menu m
        right join menu_category_rel mcr on mcr.menu_id = m.id
        <where>
            <if test="query.name != null">
                m.name like concat('%',#{query.name},'%')
            </if>
            mcr.category_id = #{query.menuCategoryId}  order by m.sort
            <if test="query.page == 0 || query.page == 1">
                limit #{query.pageSize}
            </if>
            <if test="query.page > 1">
                limit #{query.page}, #{query.pageSize}
            </if>
        </where>
    </select>
    <select id="queryTotal" resultType="java.lang.Long" parameterType="java.lang.Integer">
        select count(1) from menu_category_rel mcr where mcr.category_id = #{categoryId}
    </select>


</mapper>
