<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lin.mapper.OrderMenuRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.lin.entity.bo.OrderMenuRel">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="menu_id" property="menuId" />
    </resultMap>

    <!-- ResultMap for Menu -->
    <resultMap id="menuMap" type="org.lin.entity.vo.menu.MenuVO">
        <id property="id" column="menu_id"/>
        <result property="name" column="menu_name"/>
        <result column="price" property="price"/>
        <result column="sold_num" property="soldNum" />
        <result column="description" property="description"/>
        <result column="menu_status" property="status"/>
        <collection property="pics" ofType="java.lang.String" resultMap="pictureMap"/>
    </resultMap>

    <!-- Simplified ResultMap for Picture (only url) -->
    <resultMap id="pictureMap" type="java.lang.String">
        <result property="url" column="picture_url"/>
    </resultMap>

    <!-- ResultMap for CategoryWithMenus -->
    <resultMap id="orderWithMenusMap" type="org.lin.entity.dto.OrderWithMenu">
        <id property="id" column="id"/>
        <result column="order_status" property="status" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName"/>
        <result column="creator_id" property="creatorId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <collection property="menuList" ofType="org.lin.entity.vo.menu.MenuVO" resultMap="menuMap"/>
    </resultMap>



    <select id="getOrderWithMenu" resultMap="orderWithMenusMap"
            parameterType="java.lang.Integer">
        select
            o.id,
            o.status as order_status,
            o.shop_id,
            o.creator_id,
            o.create_time,
            o.update_time,
            m.id as menu_id,
            m.name as menu_name,
            m.price,
            m.status as menu_status,
            m.sold_num,
            m.description,
            p.url as picture_url
        FROM
            t_order o
        LEFT JOIN order_menu_rel omr on omr.order_id = o.id
        LEFT JOIN menu m on omr.menu_id = m.id
        LEFT JOIN picture p on p.menu_id = m.id
        where o.id = #{orderId}
        group by m.id
    </select>

    <select id="getOrderWithMenuList" resultMap="orderWithMenusMap"
            parameterType="org.lin.entity.req.OrderQuery">
        select
        o.id,
        o.status as order_status,
        o.shop_id,
        s.name as shop_name,
        o.creator_id,
        o.create_time,
        o.update_time,
        m.id as menu_id,
        m.name as menu_name,
        m.price,
        m.status as menu_staus,
        m.sold_num,
        m.description,
        p.url as picture_url
        FROM
        t_order o
        LEFT JOIN order_menu_rel omr on omr.order_id = o.id
        LEFT JOIN menu m on omr.menu_id = m.id
        LEFT JOIN picture p on p.menu_id = m.id
        LEFT JOIN shop s on s.id = o.shop_id
        <where>
            <if test="query != null">
                <if test="query.status != null">
                    and o.status = #{query.status}
                </if>
                <if test="query.shopId != null">
                    and shop_id = #{query.shopId}
                </if>
                <if test="query.creatorId != null">
                    and creator_id = #{query.creatorId}
                </if>
                group by o.id, menu_id
                <if test="query.sort == 0">
                    order by create_time desc
                </if>
                <if test="query.sort == 1">
                    order by create_time asc
                </if>
            </if>
        </where>
        <if test="query.page == 0 || query.page == 1">
            limit #{query.pageSize}
        </if>
        <if test="query.page > 1">
            limit #{query.page}, #{query.pageSize}
        </if>
    </select>

</mapper>
